chromadb
elevenlabs
fastembed
langchain
langchain-community
langchain-core
langchain-ollama
langchain-classic
langchain_text_splitters
ollama
pdfplumber
sentence-transformers
unstructured
unstructured[all-docs]
PyPDF2
langchain_chroma
